body{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    justify-content: center;  
    justify-items: center;
    width: 100%;
    padding: 16px;
    border: 2px dashed;
}
.paragraph{
    font-size: 16px;
    font-weight: lighter;
    color: rgb(29, 29, 29);
}
img{
    display: block;
    margin: auto;
    margin-top: 6pt;
    border-radius: 20px;
    align-self: center;
    max-width: 256px;
}
#link{
    display: block;
    align-self: center;
    justify-items: center;
}
#link:hover {
  color: blueviolet;
}