body{
    background-color: aquamarine;
    font-family: Arial, sans-serif
}
.content{
    justify-content: center;  
    justify-items: center;
    padding: 16px;
    border: 2px dashed;
}
.paragraph{
    font-size: 16px;
    font-weight: lighter;
    color: rgb(29, 29, 29);
}
img{
    display: block;
    margin: auto;
    margin-top: 6pt;
    border-radius: 20px;
    align-self: center;
    max-width: 256px;
    margin-bottom: 40px;
}
#link{
    display: block;
    align-self: center;
    justify-items: center;
}
#link:hover {
  color: blueviolet;
}

.navbar {
    background-color: #495c6f;
    text-align: center;
    padding-top: 10px;
    height: 40px;
}

.navbar a {
    display: inline-block; 
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    transition: 0.3s ease;
}

.navbar a:hover {
    background-color: #4a6683;
    color: #3498db;
}